@model IEnumerable<IntegratedSystems.Domain.Domain_Models.Vaccine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinationCenter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationCenter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
