@model IntegratedSystems.Domain.Domain_Models.Vaccine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vaccine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientFor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccinationCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccinationCenter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
