@model IEnumerable<ConcertApppp.Models.Concert>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConcertName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertPlace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConcertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcertDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcertPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcertPlace)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
