@model EShop.Domain.Domain.Concert

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
