@model IEnumerable<MovieApp.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h2>All Tickets</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => ticket.Price)</td>
                <td>@Html.DisplayFor(modelItem => ticket.Movie.MovieName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@ticket.Id"> <button type="submit" class="btn btn-success"> Add To Cart</button></a> |
                    <a asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.CartTickets != null)
{
    <!-- make some space with breaklines-->
    <br />
    <br />
    <br />
    


    <h2>Tickets in Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Price</th>
                   <th>Quantity</th>
                   <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in ViewBag.CartTickets)
            {
                <tr>
                    <td>@cartItem.Ticket.Movie.MovieName</td>
                    <td>@cartItem.Ticket.Price</td>
                    <td>@cartItem.Quantity</td>
                    <td>
                        <form asp-action="RemoveFromCart" asp-controller="Tickets" method="post">
                            <input type="hidden" name="cartItemId" value="@cartItem.Id" />
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-action="Checkout" asp-controller="Orders" method="post">
        <button type="submit" class="btn btn-primary">Checkout</button>
     </form>
}
else
{
    <p>Your cart is empty.</p>
}

                    